@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('../components/card/coba.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}